
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    background-color: rgb(141, 125, 125);



}
nav{
    
    font-size: 90px;
    padding: 15px ;
    text-align: center;
    
    background-color: rgba(22, 22, 22, 0.89)
    
    
}
#left{
    padding-left: 90px;
    padding-top: 50px;

}
.achi h1{
    color: white;
    font-size: 25px;
    text-align: center;
    padding-top: 25px;
    font-family: 'Courier New', Courier, monospace;
    text-decoration:dotted;
}


div.allDivs{
    height: 100%;
    width: 100%;
    overflow: hidden;
    
    

}

div.allDivs div {
    height: 600px;
    width:50%;  
    float:left;

  }

    div.allDivs div img{
        width: 850px;
        height: 500px;
        padding-left: 40%;
        opacity: 0.7; /* Initial state */
        transition: 0.3s; /* Smooth transition */
        /*filter: grayscale(100%) brightness(50%); /* Example effect */
        
        
        
    }

    div.allDivs div img:hover {
        opacity: 1; /* Final state */
    }

.allDivs div h1{
    color: white;
    font-size: 35px;
    padding-left: 20px;
    padding-top: 25px;
    font-family: 'Courier New', Courier, monospace;
    
}

.allDivs div h2{
    color: white;
    font-size: 28px;
    padding-left: 20px;
    padding-top: 25px;
    padding-bottom: 20px;
    font-family: 'Courier New', Courier, monospace;
    
}
.allDivs div p{
    color: white;
    font-size: 25px;
    padding-left: 20px;
    padding-top: 25px;
    font-family: 'Courier New', Courier, monospace;
    
}

.allDivs button{
    background-color: rgb(117, 109, 109);
    color: white;
    font-size: 20px;
    margin-top: 50px;
    padding: 10px 20px;
    
    border: 1px solid white;
   
    border-radius: 12px;
    font-family: 'Courier New', Courier, monospace;
    text-shadow: 10px 30px 30px rgb(65, 29, 29);

}
.achi table{
    width: 100%;
    height: 300px;
    background-color: rgb(102, 86, 86);
    color: white;
    font-size: 25px;
    text-align: center;
    padding-top: 25px;
    font-family: 'Courier New', Courier, monospace;
    text-shadow: 10px 30px 30px rgb(51, 17, 17);
    border-radius: 12px;
    text-decoration:dotted;
    
}

.achi img{
    width: 300px;
    height: 300px;

    
}


.skills h1{
    color: white;
    font-size: 25px;
    text-align: center;
    padding-top: 25px;
    font-family: 'Courier New', Courier, monospace;
    text-shadow: 10px 30px 30px rgb(51, 17, 17);
    
    
}
.skills div{
    height: 300px;
    width:100%;  
    float:left;
    padding-left: 300px;
}

.skills img{
    height: 200px;
    width:22%;  
    float:left;
    margin: 5px;
    border-radius: 12px;

}
.skills b{
    color: white;
    font-size: 25px;
    margin-left: 40px;
    padding-left: 20px;


}
.contact h1{
    color: white;
    font-size: 25px;
    text-align: center;
    cursor: pointer;
    padding-top: 25px;
    font-family: 'Courier New', Courier, monospace;
    text-decoration:dotted;
}
.contact h4{
    color: rgb(14, 13, 13);
    font-size: 25px;
    
    padding-top: 25px;
    font-family: 'Courier New', Courier, monospace;
    text-decoration:dotted;
}

#right{
    padding-left: 140px;
}

.contact div{
    height: 300px;
    width:50%;  
    float:left;
}
/* button{
    background-color: rgb(102, 86, 86);
    color: white;
    font-size: 15px;
    padding: 10px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    border-radius: 12px;
    font-family: 'Courier New', Courier, monospace;
    text-shadow: 10px 30px 30px rgb(65, 29, 29);

} */


footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}

footer p {
    margin: 0;
}


a{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    padding-left: 40px;
}
